.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  align-self: center;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  color: #444444;
}

.copyright__link {
  line-height: 0;
}
